{
    "providers": [
      {
        "name": "local",
        "baseurl": "http://192.168.0.101:44441/v1",
        "apikey": "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
      },
      {
        "name": "OpenWebUI",
        "baseurl": "http://localhost:8080/api",
        "apikey": "sk-08086835f43547a48d2dc81ec4e55f57"
      }
    ]
  }